* {
	font-family: Tahoma, Verdana, sans-serif;
}

body {
	padding: 25px;
}

h1 {
	color: grey;
}

p {
	color: grey;
}

.center {
  margin: 0 auto; 
  width:250px;
  padding-top:15%;
  text-align: center;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 250px;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}


a {
	border-radius: 100px;
	background-color: grey;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

img {
  border-radius: 100px;
  box-shadow: 0 0 7px #666;
}

input {
	margin: 0;
  padding: 16px 32px;
  border-radius: 100px;
  border: solid 1px;
  color: #5a5a5a;
}

button{
	border-radius: 100px;
	background-color: grey;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.block {
	padding: 25px;
}
